Flask==3.0.3
Flask-Cors==4.0.1
python-dotenv==1.0.1
transformers
sentence-transformers
spacy
nltk
numpy
pandas
scikit-learn
librosa
soundfile
gunicorn
pytest
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
bcrypt
PyJWT
pymongo
opencv-python-headless
deepface
